﻿@page "/agents"
@using SarUiWasm.Components
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.Authentication
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using SarUiWasm.Auth
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Text
@using SarUiWasm.Sar.Helpers
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Agents</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized Context="authorizedContext">
        <h3>Agents</h3>
        @if (_agents == null)
        {
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <ul>
                    <li>Agents without any assigned capabilities can perform jobs that do not require any specific capabilities.</li>
                    <li>Agents with assigned capabilities can perform both jobs that do not require specific capabilities and jobs that match their assigned capabilities.</li>
                    <li>
                        Agents can have the following states:
                        <ul>
                            <li><strong>Connected:</strong> The agent is currently connected to the server.</li>
                            <li><strong>Disconnected:</strong> The agent was connected but has disconnected since the SAR server was running.</li>
                            <li><strong>AbortedByServer:</strong> The server killed the connection.</li>
                            <li><strong>Suspended:</strong> The agent requested suspension to perform internal token refresh.</li>
                            <li><strong>Invalidated:</strong> Since the SAR restart, the agent hasn't attempted to connect yet.</li>
                            <li><strong>New:</strong> The agent has been recently created and hasn't attempted to connect yet'</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-flex mb-3">
                <button class="btn btn-primary me-2" @onclick="ShowNewAgentForm">New Agent</button>
                <button class="btn btn-secondary" @onclick="RefreshAgentList">Refresh</button>
            </div>
            <div class="table-responsive">
                <QuickGrid Items="@_agents" Class="table table-striped table-hover">
                    <PropertyColumn Align="Align.Center" Property="@(agent => agent.Id)" Title="ID" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(agent => agent.UserDefinedName)" Title="Name" Class="text-center" />
                    <TemplateColumn Align="Align.Center" Title="Status" Class="text-center">
                        @{
                            var state = GetFormattedAgentConnectionState(context.ConnectionStatus);
                            if (state.Equals("Connected"))
                            {
                                <div>
                                    <span class="badge bg-primary me-1">@state</span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span class="badge bg-secondary me-1">@state</span>
                                </div>
                            }
                        }
                    </TemplateColumn>
                    <PropertyColumn Align="Align.Center" Property="@(agent => GetFormattedLastConnected(agent.LastConnected))" Title="LastConnected" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(agent => agent.ConnectionId)" Title="ConnectionId" Class="text-center" />
                    <TemplateColumn Align="Align.Center" Title="Capabilities" Class="text-center">
                        @if (context.AgentCapabilityIds.Any())
                        {
                            var capabilityNames = context.AgentCapabilityIds
                            .Select(id => _agentCapabilities.FirstOrDefault(c => c.Id == id)?.Name)
                            .Where(name => name != null);

                            <div>
                                @foreach (var name in capabilityNames)
                                {
                                    <span class="badge bg-primary me-1">@name</span>
                                }
                            </div>
                        }
                    </TemplateColumn>
                    <TemplateColumn Align="Align.Center" Title="Actions" Class="align-content-center text-center">
                        <div class="btn-group d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => EditAgent(context)">Edit Capabilities</button>
                            <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => ResetAgentToken(context.Id.ToString())">Reset Token</button>
                            <button class="btn btn-danger btn-sm me-1" style="max-width: 100px;" @onclick="() => DeleteAgent(context.Id.ToString())">Delete</button>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            @if (showNewAgentForm)
            {
                <div class="card mt-3" id="create-agent-form">
                    <div class="card-body">
                        <h2 class="card-title">New Agent</h2>
                        <EditForm Model="newAgent" OnValidSubmit="CreateAgent" Context="newAgentContext">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <InputText class="form-control" id="name" @bind-Value="newAgent.agentName" />
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success w-100">Create</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-secondary w-100" @onclick="HideNewAgentForm">Close</button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            }

            if (isAgentRegisteredModalVisible && isAgentRegisteredModalVisible == true)
            {
                <NewAgentModal IsVisible="isAgentRegisteredModalVisible" RegisteredAgentResponse="agentRegisterResponseDto" OnClose="CloseAgentRegisteredModal"></NewAgentModal>
            }
            if (isAgentTokenResetModalVisible && isAgentTokenResetModalVisible == true)
            {
                <ResetAgentTokenModal IsVisible="isAgentTokenResetModalVisible" tokenResetResponse="agentTokenResetResponseDto" OnClose="CloseAgentTokenResetModal"></ResetAgentTokenModal>
            }
            if (isEditModalVisible && isEditModalVisible == true)
            {
                <EditAgentModal AgentToEdit="_selectedAgentToEdit" Capabilities="_agentCapabilities" IsVisible="isEditModalVisible" OnSave="HandleSaveChanges" OnClose="CloseAgentEditModal"></EditAgentModal>
            }
        }
    </Authorized>
</AuthorizeView>

@code {
    // auth
    private TokenPayload tokenPayload;
    private SarApiService sarApi;

    // collections
    private IQueryable<Agent> _agents;
    private IEnumerable<AgentCapability> _agentCapabilities;

    // modals
    private Agent _selectedAgentToEdit;
    private Agent _selectedAgentToEditBeforeModification;
    private bool isEditModalVisible = false;
    private bool isAgentTokenResetModalVisible = false;
    private bool isAgentRegisteredModalVisible = false;
    private bool showNewAgentForm = false;

    private AgentRegisterDto newAgent = new AgentRegisterDto();
    private AgentRegisterResponseDto agentRegisterResponseDto;
    private AgentTokenResetResponseDto agentTokenResetResponseDto;

    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();

        await ListCapabilities();
        await ListAgents();

        StateHasChanged();
    }

    private void EditAgent(Agent agent)
    {
        _selectedAgentToEdit = agent;

        // deep clone to make sure it's a separate object
        var serialized = JsonSerializer.Serialize(agent);
        _selectedAgentToEditBeforeModification = JsonSerializer.Deserialize<Agent>(serialized);

        isEditModalVisible = true;
    }

    #region new agent form
    private void HideNewAgentForm()
    {
        showNewAgentForm = false;
    }

    private async void ShowNewAgentForm()
    {
        showNewAgentForm = true;

        StateHasChanged();
        await Task.Delay(100);
        await JS.InvokeVoidAsync("scrollToForm", "create-agent-form");
    }
    #endregion

    #region actions

    private async Task ListAgents()
    {
        var result = await sarApi.ListAgents();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError("Unable to list agents");
            return;
        }
        if (result.IsSuccess && result.Value is null)
        {
            await notificationHelper.NotifyWarning("No agents found");
            return;
        }
        _agents = result.Value.AsQueryable().OrderBy(a => a.UserDefinedName);
        await notificationHelper.NotifySuccess("Agents refreshed");
    }

    private async Task ListCapabilities()
    {
        var result = await sarApi.ListCapabilities();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
            return;
        }
        if (result.IsSuccess && result.Value is null)
        {

            await notificationHelper.NotifyWarning("No capabilities found");
            return;
        }
        _agentCapabilities = result.Value;
    }

    private async Task CreateAgent()
    {
        var result = await sarApi.CreateAgent(newAgent);
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError($"Failed:{result.ErrorMessage}");
            return;
        }

        await notificationHelper.NotifySuccess($"Agent: {result.Value.agentName} created successfully!");
        agentRegisterResponseDto = result.Value;
        isAgentRegisteredModalVisible = true;
        await ListAgents();
        StateHasChanged();
    }

    private async Task ResetAgentToken(string agentId)
    {
        if (sarApi.IdToken is not null)
        {
            var result = await sarApi.ResetAgentToken(agentId);
            if (result.IsSuccess)
            {
                await notificationHelper.NotifySuccess("Token reset successfully");
                agentTokenResetResponseDto = result.Value;
                isAgentTokenResetModalVisible = true;
            }
            else
            {
                await notificationHelper.NotifyError($"Failed to reset token: {result.ErrorMessage}");
            }
        }
    }

    private async Task DeleteAgent(string agentId)
    {
        if (sarApi.IdToken is not null)
        {
            if (await JS.InvokeAsync<bool>("confirmDelete", "Are you sure you want to delete this agent?"))
            {
                var result = await sarApi.DeleteAgent(agentId);
                if (result.IsSuccess)
                {
                    await notificationHelper.NotifyWarning($"Agent: {agentId} deleted successfully!");
                }
                else
                {
                    await notificationHelper.NotifyError($"Failed to delete agent: {result.ErrorMessage}");
                }
                await ListAgents();
            }
        }
    }

    private async Task RefreshAgentList()
    {
        await ListCapabilities();
        await ListAgents();
        StateHasChanged();
    }
    #endregion

    #region modal methods
    private void CloseAgentRegisteredModal()
    {
        isAgentRegisteredModalVisible = false;
        StateHasChanged();
    }

    private void CloseAgentTokenResetModal()
    {
        isAgentTokenResetModalVisible = false;
        StateHasChanged();
    }

    private void CloseAgentEditModal()
    {
        isEditModalVisible = false;
        StateHasChanged();
    }

    private async Task HandleSaveChanges(Agent updatedAgent)
    {
        // Ensure _selectedAgentToEdit is not null
        if (_selectedAgentToEdit == null)
        {
            return;
        }
        var currentCapabilities = _selectedAgentToEditBeforeModification.AgentCapabilityIds;
        var updatedCapabilities = updatedAgent.AgentCapabilityIds;

        // Find capabilities to be added (present in updatedCapabilities but not in currentCapabilities)
        var capabilitiesToAdd = updatedCapabilities.Except(currentCapabilities).ToList();

        // Find capabilities to be removed (present in currentCapabilities but not in updatedCapabilities)
        var capabilitiesToRemove = currentCapabilities.Except(updatedCapabilities).ToList();

        if (capabilitiesToAdd.Any())
        {
            foreach (var capabilityId in capabilitiesToAdd)
            {
                var capabilityToAdd = _agentCapabilities.FirstOrDefault(c => c.Id == capabilityId);
                if (capabilityToAdd != null)
                {
                    // Perform logic to add capability
                    var result = await sarApi.AssignCapability(_selectedAgentToEdit.Id, capabilityToAdd.Id);
                    if (result.IsFailure)
                    {
                        await notificationHelper.NotifyError($"Failed to add capability '{capabilityToAdd.Name}' to agent.");
                    }
                }
            }
        }

        if (capabilitiesToRemove.Any())
        {
            foreach (var capabilityId in capabilitiesToRemove)
            {
                var capabilityToRemove = _agentCapabilities.FirstOrDefault(c => c.Id == capabilityId);
                if (capabilityToRemove != null)
                {
                    // Perform logic to remove capability
                    var result = await sarApi.UnassignCapability(_selectedAgentToEdit.Id, capabilityToRemove.Id);
                    if (result.IsFailure)
                    {
                        // Handle error
                        await notificationHelper.NotifyError($"Failed to remove capability '{capabilityToRemove.Name}' from agent.");
                    }
                }
            }
        }
        await notificationHelper.NotifySuccess("Changes saved");
        // Close the edit modal after saving changes
        isEditModalVisible = false;

        // Refresh agent list to reflect changes
        await ListAgents();
        StateHasChanged();
    }

    #endregion

    private string GetFormattedLastConnected(DateTime lastConnected)
    {
        return lastConnected == DateTime.MinValue ? "never" : lastConnected.ToString("g");
    }

    private string GetFormattedAgentConnectionState(string state)
    {
        if (state is null)
        {
            return "New";
        }
        return state switch
        {
            "InvalidatedByServerAfterRestart" => "Invalidated",
            "AbortedByServer" => "Aborted by server",
            _ => state
        };
    }
}
