﻿@page "/capabilities"
@using SarUiWasm.Components
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.Authentication
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using SarUiWasm.Auth
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Text
@using SarUiWasm.Sar.Helpers
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Agent Capabilities</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized Context="authorizedContext">
        <h3>Agent Capabilities</h3>
        <div class="alert alert-info">
            <ul>
                <li>Agent Capability allows you to target a specific subset of Agents when scheduling your jobs</li>
                <li>Having a Capability is not mandatory !</li>
                <li>Deleting Capability will automatically unassign it from the respective Agents</li>
            </ul>
        </div>
        @if (_capabilities == null)
        {
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <button class="btn btn-primary mb-3" @onclick="ShowNewCapabilityModal">New Capability</button>
            <div class="table-responsive">
                <QuickGrid Items="@_capabilities" Class="table table-striped table-hover">
                    <PropertyColumn Align="Align.Center" Property="@(c => c.Id)" Title="ID" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(c => c.Name)" Title="Name" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(c => c.Description)" Title="Description" Class="text-center" />
                    <TemplateColumn Align="Align.Center" Title="Actions" Class="align-content-center text-center">
                        <div class="btn-group d-flex justify-content-center">
                            <button class="btn btn-danger btn-sm" style="max-width: 100px;" @onclick="() => DeleteCapability(context.Name)">Delete</button>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            @if (_isNewCapabilityModalVisible)
            {
                <NewCapabilityModal IsVisible="_isNewCapabilityModalVisible" OnSave="HandleSave" OnClose="CloseNewCapabilityModal"></NewCapabilityModal>
            }
        }
    </Authorized>
</AuthorizeView>

@code{
    private TokenPayload tokenPayload;
    private SarApiService sarApi;
    private IQueryable<AgentCapability> _capabilities;

    private bool _isNewCapabilityModalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();

        await ListCapabilities();
    }

    private async Task ListCapabilities()
    {

        var result = await sarApi.ListCapabilities();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
            return;
        }
        if (result.IsSuccess && result.Value is null)
        {
            await notificationHelper.NotifyWarning("No capabilities found");
        }
        if (result.IsSuccess)
        {
            _capabilities = result.Value.AsQueryable();
            await notificationHelper.NotifySuccess($"Capabilities refreshed");
            StateHasChanged();
            return;
        }
    }
    private async Task DeleteCapability(string name)
    {
        if (await JS.InvokeAsync<bool>("confirmDelete", "Are you sure you want to delete this capability ?"))
        {
            var result = await sarApi.DeleteCapability(name);
            if (result.IsFailure)
            {
                await notificationHelper.NotifyError(result.ErrorMessage);
                return;
            }
            if (result.IsSuccess)
            {
                await notificationHelper.NotifyWarning($"Capability deleted");
                await ListCapabilities();
                return;
            }
        }
    }

    private async Task HandleSave(AgentCapabilityRegisterDto agentCapabilityRegisterDto)
    {
        var result = await sarApi.RegisterCapability(agentCapabilityRegisterDto);
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
            return;
        }
        await notificationHelper.NotifySuccess($"New capability created: {result.Value.Name}");
        await ListCapabilities();
        await CloseNewCapabilityModal();
    }

    private async Task CloseNewCapabilityModal()
    {
        _isNewCapabilityModalVisible = false;
        StateHasChanged();
    }

    private void ShowNewCapabilityModal()
    {
        _isNewCapabilityModalVisible = true;    
    }
}