﻿@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Script at Rest Web Interface</h1>

<AuthorizeView>
    <NotAuthorized>
        <div class="alert alert-warning" role="alert">
            <strong>Notice:</strong> This web interface can be used only after successful authentication. Please log in to continue.
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="welcome-section mt-3">
            <p>Welcome to Script at Rest (SAR), a tool designed to turn any script into a REST API endpoint.</p>
            <p>Use the left navigation panel to access the appropriate sections of the application.</p>
            <p>Please be aware the web UI does not implement all of the API endpoints</p>
            <p>For more information and to view the project repository, visit the <a href="https://gitlab.com/theczechguy/ScriptAtRest" target="_blank">ScriptAtRest GitLab repository</a>.</p>
        </div>
        <div class="first-time-users mt-3">
            <h2>Getting Started</h2>
            <ul>
                <li>Register and connect your first agent.</li>
                <li>Register your script type.</li>
                <li>Register your script.</li>
                <li>Create a script job.</li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>

<style>
    .mt-3 {
        margin-top: 1rem;
    }

    .alert {
        margin-top: 1.5rem;
        padding: 1rem;
        border-radius: 0.25rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .welcome-section {
        background-color: #f8f9fa;
        padding: 1rem;
        border-radius: 0.25rem;
    }

    .first-time-users {
        margin-top: 2rem;
        padding: 1rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

        .first-time-users h2 {
            margin-bottom: 1rem;
        }

        .first-time-users ul {
            padding-left: 1rem;
        }

        .first-time-users li {
            margin-bottom: 0.5rem;
        }
</style>
