﻿@page "/jobs"
@using SarUiWasm.Components
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.Authentication
@using SarUiWasm.Sar.Models.ScriptJobModels
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using SarUiWasm.Auth
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Text
@using SarUiWasm.Sar.Helpers
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Script Jobs</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized Context="authorizedContext">
        <h3>Script Jobs</h3>
        <div class="alert alert-info">
            <ul>
                <li>Table lists the last 20 script jobs</li>
            </ul>
        </div>

        @if (_recentJobs == null)
        {
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }

        else
        {
            <div class="table-responsive">
                <QuickGrid Items="@_recentJobs" Class="table table-striped table-hover">
                    <PropertyColumn Align="Align.Center" Property="@(job => job.CreatedOn)" Title="Created" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(job => job.Id)" Title="ID" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(job => job.ScriptId)" Title="Script ID" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(job => job.JobStatus)" Title="Status" Class="text-center" />
                    <TemplateColumn Align="Align.Center" Title="Actions" Class="align-content-center text-center">
                        <div class="btn-group d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm" style="max-width: 100px;" @onclick="() => OpenJobOutputModal(context.Id)">Result</button>
                        </div>
                       </TemplateColumn>
                </QuickGrid>
            </div>
            @if (_selectedJob is not null && _isJobOutputsModalVisible)
            {
                <ShowScriptJobDetails IsVisible="_isJobOutputsModalVisible" OnClose="CloseJobDetailsModal" Job="_selectedJob"></ShowScriptJobDetails>
            }
        }
    </Authorized>
</AuthorizeView>

@code {
    private TokenPayload tokenPayload;
    private SarApiService sarApi;
    private IQueryable<ScriptJobModel> _recentJobs;
    private ScriptJobModel _selectedJob;

    private bool _isJobOutputsModalVisible = false;


    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();

        await ListRecentjobs();
    }

    private async Task ListRecentjobs()
    {

        var result = await sarApi.ListRecentJobs();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
            return;
        }
        if (result.IsSuccess && result.Value is null)
        {
            await notificationHelper.NotifyWarning("No capabilities found");
        }
        if (result.IsSuccess)
        {
            _recentJobs = result.Value.AsQueryable();
            await notificationHelper.NotifySuccess($"Found {_recentJobs.Count().ToString()} jobs");
            StateHasChanged();
            return;
        }
    }

    private void OpenJobOutputModal(Guid JobId)
    {
        _selectedJob = _recentJobs.FirstOrDefault(j => j.Id == JobId);
        _isJobOutputsModalVisible = true;
    }

    private void CloseJobDetailsModal()
    {
        _isJobOutputsModalVisible = false;
        StateHasChanged();
    }
}
