﻿@page "/scripts"
@using SarUiWasm.Components
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptJobModels
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using SarUiWasm.Auth
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Text
@using SarUiWasm.Sar.Helpers
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Scripts</PageTitle>

<h1>Script Definitions</h1>
<AuthorizeView Context="authorizeContext">
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized>
        <div class="alert alert-info">
            <h4 class="alert-heading">Script Management Instructions</h4>
            <p>Follow these steps to define and manage your scripts:</p>
            <ul>
                <li><strong>Define New Scripts:</strong> This page allows you to define new scripts to execute.</li>
                <li><strong>Register Script Type:</strong> You must first register the script type before registering the script.</li>
                <li><strong>Edit Fields:</strong> Any field, except the ID, can be edited later.</li>
                <li><strong>Unique Name:</strong> The name must be unique.</li>
                <li><strong>Set Timeout:</strong> Please set the timeout according to the expected execution time. After the timeout, SAR will stop the execution regardless of its state.</li>
                <li><strong>Schedule Script:</strong> To run the script, please use the "Schedule" button. This action will create a "Script Job."</li>
                <ul>
                    <li><strong>Job Scheduling:</strong> The new job will be scheduled to run as soon as SAR finds an available agent suitable for your job request.</li>
                    <li><strong>View Results:</strong> You can view the results on the "Script Jobs" page.</li>
                </ul>
            </ul>
        </div>

        @if (isLoading)
        {
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        @if (scripts is null)
        {
            <p>No scripts loaded so far...</p>
        }
        else
        {
            <button class="btn btn-primary mb-3" @onclick="ShowNewScriptForm">New Script</button>
            <div class="table-responsive">
                <div class="table-responsive">
                    <QuickGrid Items="@scripts" Class="table table-striped table-hover">
                        <PropertyColumn Align="Align.Center" Property="@(script => script.Id)" Title="ID" Class="text-center" />
                        <PropertyColumn Align="Align.Center" Property="@(script => script.Name)" Title="Name" Class="text-center" />
                        <TemplateColumn Align="Align.Center" Title="Actions" Class="align-content-center text-center">
                            <div class="btn-group d-flex justify-content-center">
                                <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => OpenScheduleScript(context.Id)">Schedule</button>
                                <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => EditScript(context.Id)">Edit</button>
                                <button class="btn btn-danger btn-sm" style="max-width: 100px;" @onclick="() => DeleteScript(context.Id)">Delete</button>
                            </div>
                        </TemplateColumn>
                    </QuickGrid>
                </div>

            </div>
            @if (selectedScriptToEdit != null && isEditModalVisible == true)
                {
                <EditScriptModal IsVisible="isEditModalVisible" ScriptToEdit="selectedScriptToEdit" Types="scriptTypes" OnSave="HandleSaveScriptChanges" OnClose="CloseEditScriptModal" />
                }
            @if (selectedScriptToSchedule is not null && isScheduleModalVisible == true)
            {
                <ScheduleScriptJobModal IsVisible="isScheduleModalVisible" Script="selectedScriptToSchedule" Capabilities="_capabilities" OnSubmit="HandleJobSubmit" OnClose="CloseScheduleScriptModal"></ScheduleScriptJobModal>
            }

            @if (showNewScriptForm)
            {
                <div class="card mt-3" id="create-script-form">
                    <div class="card-body">
                        <h2 class="card-title">New Script</h2>
                        <EditForm Model="newScript" OnValidSubmit="CreateScript" Context="newscripteditformContext">
                            <div class="form-group">
                                <label for="newScriptName">Name:</label>
                                <InputText class="form-control" id="newScriptName" @bind-Value="newScript.Name" />
                            </div>
                            <div class="form-group">
                                <label for="newScriptTimeout">Timeout(s):</label>
                                <InputNumber class="form-control" id="newScriptTimeout" @bind-Value="newScript.Timeout" />
                            </div>
                            <div class="form-group">
                                <label for="newScriptType">Type:</label>
                                <select class="form-control" id="newScriptType" @bind=newScriptTypeId>
                                    @if (scriptTypes.Count != 0)
                                    {
                                        @foreach (var type in scriptTypes)
                                        {
                                            <option value="@type.Id">@type.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newScriptContent">Content:</label>
                                <textarea class="form-control" id="newScriptContent" rows="10" @bind="newDecodedContent"></textarea>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success w-100">Create</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-secondary w-100" @onclick="HideNewScriptForm">Cancel</button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            }
    }
    </Authorized>
</AuthorizeView>

@code {
    private IQueryable<ScriptSimple> scripts;
    private IQueryable<AgentCapability> _capabilities;
    private Script currentScript;
    private string decodedContent;
    private bool showNewScriptForm = false;
    private string newDecodedContent;
    private ScriptRegisterDto newScript = new ScriptRegisterDto();
    private List<ScriptType> scriptTypes;
    private int newScriptTypeId;
    private SarApiService sarApi;

    private bool isEditModalVisible = false;
    private bool isScheduleModalVisible = false;
    private Script selectedScriptToEdit;
    private Script selectedScriptToSchedule;

    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();

        if (sarApi.IdToken is not null)
        {
            isLoading = true;
            await ListScripts();
            await GetScriptTypes();
            await ListCapabilities();
            isLoading = false;
        }
    }
    private bool isLoading = true;

    #region modal & form methods
    private async Task EditScript(int ScriptId)
    {
        await GetScriptDetails(ScriptId);
        selectedScriptToEdit = currentScript;
        isScheduleModalVisible = false;
        isEditModalVisible = true;
    }

    private async Task OpenScheduleScript(int ScriptId)
    {
        await GetScriptDetails(ScriptId);
        selectedScriptToSchedule = currentScript;
        isScheduleModalVisible = true;
        isEditModalVisible = false;
    }

    private async Task HandleJobSubmit(ScriptJobRequest scriptJobRequest)
    {
        await ScheduleScriptJob(scriptJobRequest);
        isScheduleModalVisible = false;
        isEditModalVisible = false;
    }

    private async Task CloseEditScriptModal()
    {

        isEditModalVisible = false;
        StateHasChanged();
    }
    private async Task CloseScheduleScriptModal()
    {

        isScheduleModalVisible = false;
        StateHasChanged();
    }
    
    private async Task HandleSaveScriptChanges(Script script)
    {
        await SaveScript();
        selectedScriptToEdit = null;
        await CloseEditScriptModal();
    }
    private async void ShowNewScriptForm()
    {
        showNewScriptForm = true;

        newScript = new ScriptRegisterDto();
        newDecodedContent = string.Empty;
        StateHasChanged();
        await Task.Delay(100);
        await JS.InvokeVoidAsync("scrollToForm", "create-script-form");
    }

    private void HideNewScriptForm()
    {
        showNewScriptForm = false;
    }

    private void ClearCurrentScript()
    {

        currentScript = null;
    }
    #endregion

    #region actions

    private async Task ListCapabilities()
    {

        var result = await sarApi.ListCapabilities();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
            return;
        }
        if (result.IsSuccess && result.Value is null)
        {
            await notificationHelper.NotifyWarning("No capabilities found");
        }
        if (result.IsSuccess)
        {
            _capabilities = result.Value.AsQueryable();
            return;
        }
    }
    private async Task GetScriptDetails(int scriptId)
    {
        if (sarApi.IdToken is not null)
        {
            isLoading = true;
            var result = await sarApi.GetScriptDetails(scriptId);
            if (result.IsFailure)
            {
                await JS.InvokeVoidAsync("showToast", $"Failed to get details : {result.ErrorMessage}", "error");
                return;
            }
            currentScript = result.Value;
            decodedContent = CommonHelpers.DecodeBase64(currentScript.EncodedContent);
            isLoading = false;
            StateHasChanged();
        }
    }
    private async Task GetScriptTypes()
    {
        if (sarApi.IdToken is not null)
        {
            isLoading = true;
            var result = await sarApi.ListScriptTypes();
            if (result.IsFailure)
            {
                await JS.InvokeVoidAsync("showToast", "Unable to list types", "error");
                return;
            }
            if (result.IsSuccess && result.Value is null)
            {
                await JS.InvokeVoidAsync("showToast", "No types found", "warning");
                return;
            }
            scriptTypes = result.Value;
            isLoading = false;
        }
        StateHasChanged();
    }

    private async Task ListScripts()
    {
        if (sarApi.IdToken is not null)
        {
            isLoading = true;
            var result = await sarApi.ListScripts();
            if (result.IsFailure)
            {
                await JS.InvokeVoidAsync("showToast", $"Failed to list scripts :{result.ErrorMessage}", "error");
            }
            if (result.IsSuccess && result.Value is null)
            {
                await JS.InvokeVoidAsync("showToast", "No scripts found", "warning");
            }
            if (result.IsSuccess)
            {
                scripts = result.Value.AsQueryable();    
            }
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task SaveScript()
    {
        if (sarApi.IdToken is not null)
        {
            var updateDto = currentScript.ToUpdateDto();
            var response = await sarApi.UpdateScript(currentScript.Id, updateDto);
            if (response.IsFailure)
            {
                await JS.InvokeVoidAsync("showToast", $"Failed to update script: {response.ErrorMessage}", "error");
            }

            await GetScriptDetails(currentScript.Id); // to refresh
            await JS.InvokeVoidAsync("showToast", "Update successful!", "success");
        }
    }

    private async Task CreateScript()
    {
        if (sarApi.IdToken is not null)
        {
            newScript.EncodedContent = CommonHelpers.EncodeBase64(newDecodedContent);
            newScript.type = newScriptTypeId;

            var result = await sarApi.CreateScript(newScript);
            if (result.IsSuccess)
            {
                showNewScriptForm = false;
                await ListScripts(); // to refresh the table
                await JS.InvokeVoidAsync("showToast", $"Script: {result.Value.Id} created successfully!", "success");
                newScript = new ScriptRegisterDto();
            }
            else
            {
                await JS.InvokeVoidAsync("showToast", $"Failed to create script :{result.ErrorMessage}", "error");
            }
            StateHasChanged();
        }
    }

    private async Task DeleteScript(int scriptId)
    {
        if (sarApi.IdToken is not null)
        {
            if (await JS.InvokeAsync<bool>("confirmDelete", "Are you sure you want to delete this script?"))
            {
                var result = await sarApi.DeleteScript(scriptId);
                if (result.IsSuccess)
                {
                    await JS.InvokeVoidAsync("showToast", $"Script: {scriptId} deleted successfully!", "success");
                }
                else
                {
                    await JS.InvokeVoidAsync("showToast", "Failed to delete script.", "error");
                }
            }
            await ListScripts();
        }
    }

    private async Task ScheduleScriptJob(ScriptJobRequest scriptJobRequest)
    {
        var result = await sarApi.ScheduleScriptJob(scriptJobRequest);
        if (result.IsSuccess)
        {
            await notificationHelper.NotifySuccess($"Job scheduled :{result.Value.Id}");
        }
        else
        {
            await notificationHelper.NotifyError($"Job schedule request failed: {result.ErrorMessage}");    
        }
    }
    #endregion
}
