﻿@page "/token"
@using SarUiWasm.Auth
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Authentication
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Access Tokens</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized Context="authContext">
        <h3>Token generator</h3>
        <div class="alert alert-info">
            <ul>
                <li>Generate a set of access and refresh tokens for the specified account using this form.</li>
                <li>Access tokens are unique and remain valid until their expiration time.</li>
                <li><strong>Important:</strong> When generating a new set of tokens, all previous refresh tokens for the specified account will be invalidated. Proceed with caution.</li>
            </ul>
        </div>

        <EditForm Model="accountCredentials" OnValidSubmit="HandleValidSubmit">
            <div class="form-group">
                <label for="accountName">Account Name:</label>
                <InputText id="accountName" class="form-control" @bind-Value="accountCredentials.AccountName" />
            </div>
            <div class="form-group">
                <label for="accountPassword">Account Password:</label>
                <InputText id="accountPassword" type="password" class="form-control" @bind-Value="accountCredentials.AccountPassword" />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary ms-2" @onclick="ClearForm">Clear</button>
            </div>
        </EditForm>

        @if (tokenPayload != null)
        {
            <div class="mt-3">
                <h4><b>Token response</b></h4>
                <div class="d-flex flex-row mt-2">
                    <div class="token-container">
                        <h5>Access Token</h5>
                        <p><strong>Token Expiration(UTC):</strong> @tokenPayload.TokenExpiration</p>
                        <p><strong>Token:</strong></p>
                        <textarea rows="4" cols="50" readonly>@tokenPayload.Token</textarea>
                        <div class="mt-2">
                            <button @onclick="@(async () => await CopyToClipboard(tokenPayload.Token))" class="btn btn-secondary">Copy</button>
                        </div>
                    </div>
                    <div class="token-container ms-4">
                        <h5>Refresh Token</h5>
                        <p><strong>Refresh Token Expiration(UTC):</strong> @tokenPayload.RefreshTokenExpiration</p>
                        <p><strong>Refresh Token:</strong></p>
                        <textarea rows="4" cols="50" readonly>@tokenPayload.RefreshToken</textarea>
                        <div class="mt-2">
                            <button @onclick="@(async () => await CopyToClipboard(tokenPayload.RefreshToken))" class="btn btn-secondary">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </Authorized>
</AuthorizeView>

@code {
    private AccountCredentials accountCredentials = new AccountCredentials();
    private TokenPayload tokenPayload;
    private SarApiService sarApi;

    public class AccountCredentials
    {
        public string AccountName { get; set; }
        public string AccountPassword { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();
    }

    private async Task HandleValidSubmit()
    {
        var isAccEmpty = string.IsNullOrEmpty(accountCredentials.AccountName);
        var isPassEmpty = string.IsNullOrEmpty(accountCredentials.AccountPassword);

        if (isAccEmpty || isPassEmpty)
        {
            await notificationHelper.NotifyWarning("Please provide input");
            return;
        }
        var result = await sarApi.GenerateTokens(accountCredentials.AccountName, accountCredentials.AccountPassword);
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError($"Failed to generate tokens: {result.ErrorMessage}");
        }
        else
        {
            await notificationHelper.NotifySuccess("Tokens successfully generated");
            tokenPayload = result.Value;
        }
    }

    private void ClearForm()
    {
        accountCredentials = new AccountCredentials();
        tokenPayload = null;
    }

    private async Task CopyToClipboard(string text)
    {
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", text);
        await notificationHelper.NotifySuccess("Token copied to clipboard");
    }
}
