﻿@page "/users"
@using SarUiWasm.Auth
@using SarUiWasm.Components
@using SarUiWasm.Helpers
@using SarUiWasm.Sar.Models.Authentication
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Models.Users
@using SarUiWasm.Sar.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient Http
@inject IJSRuntime JS
@inject INotificationHelper notificationHelper

<PageTitle>Users</PageTitle>
<AuthorizeView Context="authorizeviewContext">
    <NotAuthorized>
        <div>This page can be accessed only after successful authentication</div>
    </NotAuthorized>
    <Authorized Context="authorizedContext">
        <h1>Users</h1>
        <div class="alert alert-info">
            <ul>
                <li><strong>Users</strong> are entities used to authenticate and authorize against the SAR API.</li>
                <li><strong>Local to SAR:</strong> Users are local to SAR and are meant to be used directly with the API. They cannot be used to log in to the web UI, which is instead integrated with MS Entra ID.</li>
                <li><strong>Approval Required:</strong> New users are not automatically approved upon creation.</li>
                <li><strong>Access Restrictions:</strong> Users that are not yet approved are unable to consume any API endpoints.</li>
            </ul>
        </div>

        @if (_users == null)
        {
            <div class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => ShowNewUserModal()">New User</button>
            <div class="table-responsive">
                <QuickGrid Items="@_users" Class="table table-striped table-hover">
                    <PropertyColumn Align="Align.Center" Property="@(user => user.id)" Title="ID" Class="text-center" />
                    <PropertyColumn Align="Align.Center" Property="@(user => user.username)" Title="Name" Class="text-center" />
                    <TemplateColumn Align="Align.Center" Title="Approval State" Class="text-center">
                        @if (context.approved)
                        {
                            <span class="badge bg-success me-1">Approved</span>
                        }
                        else
                        {
                            <span class="badge bg-danger me-1">Not Approved</span>
                        }
                    </TemplateColumn>
                    <TemplateColumn Align="Align.Center" Title="Actions" Class="align-content-center text-center">
                        <div class="btn-group d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm me-1" style="max-width: 100px;" @onclick="() => ApproveUser(context.username)">Approve</button>
                            <button class="btn btn-danger btn-sm me-1" style="max-width: 100px;" @onclick="() => DeleteUser(context.username)">Delete</button>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            @if (_isNewUserModalVisible)
            {
                <NewUserModal IsVisible="_isNewUserModalVisible" OnSubmit="CreateUser" OnClose="CloseNewUserModal"></NewUserModal>
            }
        }
    </Authorized>
</AuthorizeView>

@code {
    private bool showNewTypeForm = false;

    private TokenPayload tokenPayload;
    private SarApiService sarApi;
    private IQueryable<UserModel> _users;
    private bool _isNewUserModalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        sarApi = new SarApiService(Http);
        var tokenGenerator = new MsalTokens(JS);
        sarApi.IdToken = await tokenGenerator.GetJwtToken();

        await ListUsers();
    }

    private void ShowNewUserModal()
    {
        _isNewUserModalVisible = true;    
    }
    private void CloseNewUserModal()
    {
        _isNewUserModalVisible = false;
    }

    private async Task ApproveUser(string UserName)
    {
        _isNewUserModalVisible = false;
        var result = await sarApi.ApproveUser(UserName);
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError($"Failed to approve user: {result.ErrorMessage}");
            return;
        }
        await notificationHelper.NotifySuccess($"User: {UserName} approved");
        await ListUsers();
    }
    private async Task DeleteUser(string UserName)
    {
        if (await JS.InvokeAsync<bool>("confirmDelete", "Are you sure you want to delete this user?"))
        {
            var result = await sarApi.DeleteUser(UserName);
            if (result.IsFailure)
            {
                await notificationHelper.NotifyError($"Failed to delete user: {result.ErrorMessage}");
                return;
            }
            await notificationHelper.NotifySuccess($"User: {UserName} deleted");
            await ListUsers();
        }
        _isNewUserModalVisible = false;
    }
    private async Task ListUsers()
    {
        var result = await sarApi.ListUsers();
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError(result.ErrorMessage);
        }
        if (result.IsSuccess && result.Value is null)
        {
            await notificationHelper.NotifyWarning("No users found");
        }
        if (result.IsSuccess)
        {
            _users = result.Value.AsQueryable().OrderBy(u => u.username);
            await notificationHelper.NotifySuccess($"Users refreshed");
            StateHasChanged();
        }
    }
    private async Task CreateUser(UserRegisterDto userRegisterDto)
    {
        var result = await sarApi.CreateUser( userRegisterDto);
        if (result.IsFailure)
        {
            await notificationHelper.NotifyError($"Failed to create user: {result.ErrorMessage}");
            _isNewUserModalVisible = false;
            return;
        }
        await notificationHelper.NotifySuccess($"User: {result.Value.username} created");
        await ListUsers();
        _isNewUserModalVisible = false;
        StateHasChanged();
    }
}