﻿@using SarUiWasm.Sar.Models.ScriptModels
<!-- EditTypeModal.razor -->
@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Script Type</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <!-- Edit form fields here -->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" @bind="@TypeToEdit.Name" />
                    </div>
                    <div class="form-group">
                        <label for="runner">Runner:</label>
                        <input type="text" class="form-control" id="name" @bind="@TypeToEdit.Runner" />
                    </div>
                    <div class="form-group">
                        <label for="fileExtension">File Extension:</label>
                        <input type="text" class="form-control" id="name" @bind="@TypeToEdit.FileExtension" />
                    </div>
                    <div class="form-group">
                        <label for="scriptArgument">Script Argument:</label>
                        <input type="text" class="form-control" id="name" @bind="@TypeToEdit.ScriptArgument" />
                    </div>
                    <!-- Add other form fields for editing script type details -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public ScriptType TypeToEdit { get; set; }

    [Parameter]
    public EventCallback<ScriptType> OnSave { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async void CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }

    private async Task SaveChanges()
    {
        // Call the parent component's OnSave event handler
        await OnSave.InvokeAsync(TypeToEdit);
    }

}
