﻿@using SarUiWasm.Sar.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptModels

<!-- EditAgentModal.razor -->
@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Agent</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="name" @bind="@AgentToEdit.UserDefinedName" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="capabilities" class="form-label">Capabilities</label>
                        <div class="capability-list">
                            @foreach (var capability in Capabilities)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="@capability.Id" @onchange="@(e => OnCapabilityChanged(e, capability.Id))"
                                           checked="@AgentToEdit.AgentCapabilityIds.Contains(capability.Id)" />
                                    <label class="form-check-label" for="@capability.Id">@capability.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public Agent AgentToEdit { get; set; }

    [Parameter]
    public IEnumerable<AgentCapability> Capabilities { get; set; }

    [Parameter]
    public EventCallback<Agent> OnSave { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    private async void CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }

    private async Task SaveChanges()
    {
        await OnSave.InvokeAsync(AgentToEdit);
        CloseModal();
    }

    private void OnCapabilityChanged(ChangeEventArgs e, Guid capabilityId)
    {
        var isChecked = (bool)e.Value;
        if (isChecked)
        {
            if (!AgentToEdit.AgentCapabilityIds.Contains(capabilityId))
            {
                AgentToEdit.AgentCapabilityIds.Add(capabilityId);
            }
        }
        else
        {
            if (AgentToEdit.AgentCapabilityIds.Contains(capabilityId))
            {
                AgentToEdit.AgentCapabilityIds.Remove(capabilityId);
            }
        }
    }
}

<style>
    .modal-lg {
        max-width: 80%;
    }

    .form-label {
        font-weight: bold;
    }

    .capability-list {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }

    .form-check {
        margin-bottom: 10px;
    }
</style>
