﻿@using SarUiWasm.Sar.Helpers
@using SarUiWasm.Sar.Models.ScriptModels

<!-- EditScriptModal.razor -->
@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Script</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" @bind="@ScriptToEdit.Name" />
                    </div>
                    <div class="form-group">
                        <label for="newScriptType">Type:</label>
                        <select class="form-control" id="newScriptType" @bind="@scriptTypeId">
                            @if (Types.Count != 0)
                            {
                                @foreach (var type in Types)
                                {
                                    <option value="@type.Id">@type.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="timeout">Timeout:</label>
                        <input type="text" class="form-control" id="timeout" @bind="@ScriptToEdit.Timeout" />
                    </div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <textarea rows="10" class="form-control" id="content" @bind="decodedContent"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public Script ScriptToEdit { get; set; }

    [Parameter]
    public List<ScriptType> Types { get; set; }

    [Parameter]
    public EventCallback<Script> OnSave { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private int scriptTypeId;
    private string decodedContent;

    protected override void OnParametersSet()
    {
        if (ScriptToEdit != null && ScriptToEdit.ScriptType != null)
        {
            scriptTypeId = ScriptToEdit.ScriptType.Id;
        }
        decodedContent = CommonHelpers.DecodeBase64(ScriptToEdit.EncodedContent);
    }

    private async void CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }

    private async Task SaveChanges()
    {
        ScriptToEdit.ScriptType = Types.FirstOrDefault(t => t.Id == scriptTypeId);
        ScriptToEdit.EncodedContent = CommonHelpers.EncodeBase64(decodedContent);
        await OnSave.InvokeAsync(ScriptToEdit);
        CloseModal();
    }
}
