﻿@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptModels

@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register New Agent Capability</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="Name" @bind="@agentCapabilityRegisterDto.name" />
                        <p class="text-danger mt-2">Name must not contain any spaces!</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea rows="4" class="form-control" id="Description" @bind="@agentCapabilityRegisterDto.description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="Create">Create</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<AgentCapabilityRegisterDto> OnSave { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    public AgentCapabilityRegisterDto agentCapabilityRegisterDto = new AgentCapabilityRegisterDto();

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }

    private async Task Create()
    {
        IsVisible = false;
        await OnSave.InvokeAsync(agentCapabilityRegisterDto);
    }
}
