﻿@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptModels
@using SarUiWasm.Sar.Models.Users

@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new user</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="Name" @bind="@_userRegisterDto.username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password" type="password" class="form-control" @bind="@_userRegisterDto.password" />
                        <ul>
                            <li>Username must be at least 1 character long</li>
                            <li>Username can contain only letters or digits</li>
                        </ul>
                        <ul>
                            <li>Password must be at least 6 characters</li>
                            <li>Password must have at least one uppercase ('A'-'Z')</li>
                            <li>Password must have at least one non alphanumeric character</li>
                            <li>Password must have at least one digit ('0'-'9'</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="Create">Submit</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<UserRegisterDto> OnSubmit { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    private UserRegisterDto _userRegisterDto = new UserRegisterDto();

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }
    private async Task Create()
    {
        await OnSubmit.InvokeAsync(_userRegisterDto);
    }
}
