﻿@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptModels

@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New agent token</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Token">Token:</label>
                        <div class="alert alert-warning" role="alert">
                            Token has a limited lifetime. Make sure to use it before it expires.
                        </div>
                        <textarea rows="10" class="form-control" id="Token" @bind="tokenResetResponse.token"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public AgentTokenResetResponseDto tokenResetResponse { get; set; }
    
    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }
}