﻿@using SarUiWasm.Sar.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptJobModels
@using SarUiWasm.Sar.Models.ScriptModels

@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Schedule Script Job</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Script name:</label>
                        <input type="text" readonly="true" class="form-control" id="name" @bind="@Script.Name" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="capability" class="form-label">Required capability:</label>
                        <div class="capability-list">
                            <div class="form-check">
                                <input type="radio" checked="true" class="form-check-input" id="NoCapability" name="capability" @onchange="@(e => OnCapabilityChanged(e, null))" />
                                <label class="form-check-label" for="NoCapability"><b>None (Run on any agent)</b></label>
                            </div>
                            @foreach (var capability in Capabilities)
                            {
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="@capability.Id" name="capability" @onchange="@(e => OnCapabilityChanged(e, capability.Name))" />
                                    <label class="form-check-label" for="@capability.Id">@capability.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <label for="params" class="form-label mb-0">Script parameters</label>
                            <button type="button" class="btn btn-success btn-sm" style="width: 40px;" @onclick="AddParam">+</button>
                        </div>
                        @foreach (var param in ScriptParams)
                        {
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" placeholder="Parameter Name" @bind="param.Name" />
                                <input type="text" class="form-control" placeholder="Parameter Value" @bind="param.EncodedValue"/>
                                <button type="button" class="btn btn-danger btn-sm" style="width: 40px;" @onclick="() => RemoveParam(param)">-</button>
                            </div>
                        }
                        @if (_submitDisabled)
                        {
                            <div class="text-center text-danger mb-3">
                                Both fields are required.
                            </div>
                        }
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="Submit" >Submit</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public Script Script { get; set; }

    [Parameter]
    public IEnumerable<AgentCapability> Capabilities { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback<ScriptJobRequest> OnSubmit { get; set; }

    private ScriptJobRequest scriptJobRequest = new ScriptJobRequest();
    private List<ScriptParamModel> ScriptParams { get; set; } = new List<ScriptParamModel>();

    private bool _submitDisabled = false;

    private async void CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }

    private async Task Submit()
    {
        ValidateForm();
        if (!_submitDisabled)
        {
            scriptJobRequest.ScriptId = Script.Id;
            ScriptParams.ForEach(sp =>sp.EncodedValue = CommonHelpers.EncodeBase64(sp.EncodedValue));
            scriptJobRequest.ScriptParamModel = ScriptParams;

            await OnSubmit.InvokeAsync(scriptJobRequest);
        }
    }

    private void OnCapabilityChanged(ChangeEventArgs e, String capabilityName)
    {
        scriptJobRequest.RequiredCapabilityName = capabilityName;
    }

    private void AddParam()
    {
        ScriptParams.Add(new ScriptParamModel());
    }

    private void RemoveParam(ScriptParamModel param)
    {
        ScriptParams.Remove(param);
    }

    private void ValidateForm()
    {
        if (ScriptParams.Count != 0)
        {
            _submitDisabled = ScriptParams.Any(p => string.IsNullOrWhiteSpace(p.Name) || string.IsNullOrWhiteSpace(p.EncodedValue));
            StateHasChanged();
        }
    }
}

<style>
    .modal-lg {
        max-width: 80%;
    }

    .form-label {
        font-weight: bold;
    }

    .capability-list {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }

    .form-check {
        margin-bottom: 10px;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

        .input-group input {
            flex: 1;
            margin-right: 10px;
        }

        .input-group button {
            flex-shrink: 0;
        }

    .btn-success {
        margin-bottom: 10px;
    }
</style>
