﻿@using SarUiWasm.Sar.Helpers
@using SarUiWasm.Sar.Models.Agents
@using SarUiWasm.Sar.Models.ScriptJobModels
@using SarUiWasm.Sar.Models.ScriptModels

@if (IsVisible)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Script Job Outputs</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="exitcode">Exit code</label>
                        <input type="text" readonly="true" class="form-control" id="exitcode" @bind="@Job.JobExitCode" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="Output">Output</label>
                        <textarea rows="10" class="form-control" id="output" readonly="true" @bind="decodedStandardOutput"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="errorOutput">Error Output</label>
                        <textarea rows="10" class="form-control" id="errorOutput" readonly="true" @bind="decodedErrorOutput"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public ScriptJobModel Job { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private string decodedStandardOutput;
    private string decodedErrorOutput;

    private async void CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }
    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Job.EncodedJobStandardOutput))
        {
            decodedStandardOutput = CommonHelpers.DecodeBase64(Job.EncodedJobStandardOutput);
        }
        if (!string.IsNullOrEmpty(Job.EncodedJobErrorOutput))
        {
            decodedStandardOutput = CommonHelpers.DecodeBase64(Job.EncodedJobErrorOutput);
        }
    }
}