﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SAR UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="d-flex flex-column align-items-center">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="users">
                <span aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="token">
                <span aria-hidden="true"></span> Token
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="scripts">
                <span aria-hidden="true"></span> Scripts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="types">
                <span aria-hidden="true"></span> Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="jobs">
                <span aria-hidden="true"></span> Script Jobs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="agents">
                <span aria-hidden="true"></span> Agents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-center" href="capabilities">
                <span aria-hidden="true"></span> Capabilities
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
